module.exports = {
  zotero : {
    enabled : true,
    apiKey : "",
    userId : 0,
    webdavUrl : "",
    webdavUser : "",
    webdavPassword : ""
  },
  bookends : {
    enabled : false,
    attachmentPath : ""
  }
};
