module.exports = {
  zotero : {
    enabled : true,
    apiKey : "",
    userId : 0,
    webdavUrl : "",
    webdavUser : "",
    webdavPassword : ""
  },
  bookends : {
    enabled : false,
    attachmentPath : ""
  },

  /**
   * configuration for the console object (see below)
   * @type {Object}
   */
  console : {
    development : {
      uncaughtExceptionCatch: true,                   // Do we want to catch uncaughtExceptions?
      consoleFilter:          [],         // Filter these console output types
      logToFile:              false,                    // if true, will put console output in a log file folder called 'logs'
      logFilter:              [],   // Examples: Filter these types to not log to file
      colors:                 true                     // do we want pretty pony colors in our console output?
    },
    production : {
      uncaughtExceptionCatch: false,                   // Do we want to catch uncaughtExceptions?
      consoleFilter:          ['LOG','DEBUG'],         // Filter these console output types
      logToFile:              true,                    // if true, will put console output in a log file folder called 'logs'
      logFilter:              ['LOG','DEBUG'],  // Examples: Filter these types to not log to file
      colors:                 false                     // do we want pretty pony colors in our console output?
    }
  }
};
